.body {
    height: 100px;
    position: relative;
}

.estatico {
    position: static;
    background-color: #ef9a9a; 
    padding: 10px;
}

.relativo {
    position: relative;
    background-color: #a5d6a7; 
    padding: 10px;
    top: 50px;
    left: 50px;
}

.fijo {
    position: fixed;
    background-color: #1565c0; 
    color: white;
    padding: 10px;
    bottom: 50px;
    right: 50px;
}
